body {
	background-color: black;
	color: white;
	margin: 0;
	line-height: 1.6;
}

h1 {
	text-align: center;
}

#methods {
	display: block;
	margin: 0 auto 20px;
	width: max(150px, 40%);
}

.button-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 5px;
}

button {
	background-color: inherit;
	color: inherit;
	border: 1px solid white;
	padding: 5px 10px;
	border-radius: 15px;
	cursor: pointer;
}

button[disabled] {
	color: rgb(140 140 140);
	border-color: rgb(140 140 140);
	cursor: auto;
}

div:not([class]) {
	margin-left: 15px;
	margin-top: 10px;
}
